.App {
  padding: 24px;
}

.add-worker {
  display: block;
  font-weight: bold;
  color: white;
  padding: 6px 8px;
  background-color: #439d49;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #888888;
  border: none;
  margin-bottom: 24px;
  outline: none;
}

.worker-item {
  display: flex;
  margin-bottom: 24px;
}

.element {
  border-radius: 3px;
  padding: 6px 8px;
  border: 1px solid black;
  font-size: 16px;
  margin-right: 8px;
}

.worker-number {
  width: 32px;
  align-self: flex-start;
}

.worker-type .element {
  min-width: 135px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
}

.dropdown li {
  padding: 6px 8px;
  min-width: 135px;
}

.dropdown li:hover {
  background-color: #439d49;
  cursor: pointer;
}

.worker-salary {
  width: 175px;
}
