.App {
  padding: 24px;
}

button, input[type=submit] {
  display: block;
  font-weight: bold;
  color: white;
  padding: 6px 8px;
  background-color: #439d49;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #888888;
  border: none;
  margin-bottom: 24px;
  outline: none;
  cursor: pointer;
}

.worker-item {
  display: flex;
  margin-bottom: 24px;

}

.element {
  border-radius: 3px;
  padding: 6px 8px;
  border: 1px solid black;
  font-size: 16px;
  margin-right: 8px;
}

.worker-number {
  width: 32px;
  align-self: flex-start;
}

.worker-type .element {
  min-width: 135px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 2px #888888;
}

.dropdown li {
  padding: 6px 8px;
  min-width: 135px;
}

.dropdown li:hover {
  background-color: #439d49;
  cursor: pointer;
}

.worker-salary {
  width: 175px;
}

.remove-worker {
  background-color: #439d49;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 18px;
  align-self: center;
}

.remove-worker:hover {
  cursor: pointer;
}

.current-expenditure {
  margin-bottom: 24px;
}

.results div {
  font-weight: 500;
  margin-bottom: 16px;
}

.action-buttons {
  display: flex;
}

.action-buttons input {
  margin-right: 8px;
}

.errors {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: red;
}
