.App {
  padding: 50px 100px 0;
  background-color: #439d49;
  min-height: 100%;
}

.content {
  background-color: white;
  padding: 24px;
  border-radius: 6px;
}

.header {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #cb0121;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.header div {
  width: 50%;
}

.header img {
  width: 50%;
  height: auto;
  margin-right: 16px;
  align-self: flex-start;
}

.instructions {
  margin-bottom: 18px;
}

button, input[type=submit] {
  -webkit-appearance: none;
  display: block;
  font-weight: bold;
  color: white;
  padding: 6px 8px;
  background-color: #439d49;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #888888;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-worker {
  margin-bottom: 24px;
}

.worker-item {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.element {
  border-radius: 3px;
  padding: 6px 8px;
  border: 1px solid black;
  font-size: 16px;
  margin-right: 8px;
}

.dollar-sign {
  position: relative;
  left: 8px;
}

.worker-number {
  width: 32px;
  align-self: flex-start;
}

.worker-type .element {
  min-width: 135px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 2px #888888;
}

.dropdown li {
  padding: 6px 8px;
  min-width: 135px;
}

.dropdown li:hover {
  background-color: #439d49;
  cursor: pointer;
}

.worker-salary {
  width: 175px;
  padding-left: 20px;
  margin-left: -10px;
}

.remove-worker {
  background-color: #439d49;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 18px;
}

.remove-worker:hover {
  cursor: pointer;
}

.current-expenditure {
  margin-bottom: 32px;
  padding-left: 20px;
  margin-left: -10px;
}

.results div {
  font-weight: 500;
  margin-bottom: 16px;
}

.action-buttons {
  display: flex;
  margin-bottom: 8px;
}

.action-buttons input {
  margin-right: 8px;
}

.return {
  margin-top: 24px;
}

.errors {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: red;
}
